<!DOCTYPE html>
<html>
  <head>
    <title>Sitegen</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <%= stylesheet_link_tag    current_page.layout, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag current_page.layout, 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll">
    <%= yield %>
  </body>
</html>
